
<h1>Welcom to Homepage</h1>

<label for="">
    List of product
</label>

<ul>
    
        <% products.forEach(product=>{ %> 
            <li> <%= product.productName %></li>
            <%
           
        }) %>
    
</ul>